.genre-list {
    list-style: none;
    padding: 0;
}

.genre-list li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.genre-img {
    border-radius: 5px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 8px;
}

.btn-link {
    background: transparent;
    border: 0;
    text-decoration: none !important;
}

.btn-link:hover {
    text-decoration: underline !important;
}